
body {
	margin: 0;
	font-family: sans-serif;
}
#tabs {
	display: flex;
	background:linear-gradient(90deg,color-mix(in srgb, var(--accent), #000000 20%),color-mix(in srgb, var(--accent), #000000 40%));
	color: #fff;
	overflow-x: auto;
	height: 40px;
}
#tabs2 {
	display: flex;
	margin-left: 10px;
}
.tab {
	padding: 10px 10px;
	width: 212px;
	cursor: pointer;
	user-select: none;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	margin: 0px;

	margin-bottom: 0;
	transition-duration: 200ms;

	position: relative;
	vertical-align: middle;
	font-size: 14px;
	display: flex;
	align-content: center;
	height: 18px;
	margin-top: 2px;
	margin-left: 12px;
	
	
}
.textcontent {
	width: calc(100% - 80px);
	position: absolute;
	left: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#tabs2 *:not(:first-child) {
	margin-left: 24px;
}
.tab::after {
	transition-duration: 200ms;
	content: "";
	position: absolute;
	bottom: 0;
	left: 100%;
	width: 12px;
	height: 12px;

	mask:
		radial-gradient(circle at 100% 0,rgba(0, 0, 0, 0) 70%, rgba(255, 255, 255, 1) 0%) right,
		linear-gradient(black 0 0);

	mask-composite: intersect;
	-webkit-mask-composite: source-in;
}

.tab::before {
	transition-duration: 200ms;
	content: "";
	position: absolute;
	bottom: 0;
	right: 100%;
	width: 12px;
	height: 12px;

	mask:
		radial-gradient(circle at 0 0,rgba(0, 0, 0, 0) 70%, rgba(255, 255, 255, 1) 0%) left,
		linear-gradient(black 0 0);

	mask-composite: intersect;
	-webkit-mask-composite: source-in;
}

.favicon {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 8px;
}
.tab.active, .tab.active::before, .tab.active::after {
	background: var(--accent);

}
.tab:hover, .tab:hover::before, .tab:hover::after {
	background: color-mix(in srgb, var(--accent), white 30%);
}
#webviews {
	height: calc(100vh - 40px);
}
.page {
	width: 100%;
	height: 100%;
	display: none;
}
webview {
	width: 100%;
	height: 100%;
	border: none;
}
.bar {
	width: 100%;
	height: 40px;
	display: flex;

	background: var(--accent);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.page {
	background:linear-gradient(90deg,color-mix(in srgb, var(--accent), #000000 20%),color-mix(in srgb, var(--accent), #000000 40%));
}
.webv {
  background: var(--accent);
}
.page.active {
	display: flex;
	flex-direction: column;
}
#newtab {
	width: 30px;
	height: 30px;
	font-size: 24px;
	background-color: transparent;
	transition-duration: 200ms;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	margin: 5px;
	
}
#newtab:active {
	background-color: #ffffff44;
}
#newtab:hover {
	background-color: #ffffff2a;
}
.closebtn {
	position: absolute;
	right: 5px;
	vertical-align: middle;
	height: 32px;
	width: 32px;
	border: none;
	font-size: 16px;
	border-radius: 50%;
	top: 3px;
	background-color: transparent;
	transition-duration: 200ms;
	color: white;
	cursor: pointer;
}
.closebtn:active {
	background-color: #ffffff44;
}
.closebtn:hover {
	background-color: #ffffff2a;
}
*:disabled {
	cursor: not-allowed !important;
}
.addressbar {
	flex-grow: 1;
	height: 30px;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
	border: none;
	outline: none;
	background-color: color-mix(in srgb, var(--accent), black 80%);
	color: white;
}
.addressbar:focus {
	border: color-mix(in srgb, var(--accent), rgb(255, 255, 255) 50%) 2px solid;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	
}
.roundbutton {
	width: 36px;
	height: 36px;
	font-size: 18px;
	background-color: transparent;
	transition-duration: 200ms;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	margin: 3px;
	vertical-align: middle;
}
.roundbutton:active:not(:disabled) {
	background-color: #ffffff44;
}
.roundbutton:hover:not(:disabled) {
	background-color: #ffffff2a;
}
.roundbutton:disabled {
	opacity: .7;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #555 #333;
}